
/* .reservation-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.reservation-card {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.persons-number,
.date {
  margin-bottom: 8px;
} */

.reservation-container {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;

}

/* .reservation-card {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
} */
.reservation-card {
  flex: 1 1 20%;
  margin: 10px;
  padding: 16px;
  border: 1px solid rgb(134, 28, 28);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
}


.date {
  margin-bottom: 8px;
}
